/* Quill Editor */

.quill-container {
  height: 300px;
}

.ql-toolbar,
.quill-container {
  &.ql-snow {
    border-color: $border-color;
  }
}

.ql-editor.ql-blank::before {
  color: #ccc !important; /// override default text color for quill editor
}