/* Tags */

div.tagsinput {
  padding: 15px 15px 10px;
  border-color: $border-color;
  background: transparent;

  span.tag {
    background: map-get($theme-colors, 'secondary');
    border: 0;
    color: $white;
    padding: 6px 14px;
    font-size: .8125rem;
    font-family: inherit;
    line-height: 1;

    a {
      color: $white;
    }
  }
}


div.tagsinput input {
  width: 80px;
  margin: 0 5px 5px 0;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: 0 0;
  color: #ffffff !important;
  outline: 0;
}