/* Toast */

.jq-toast-wrap {
    .jq-icon-success {
        background-color: map-get($theme-colors, 'success');
    }
    .jq-icon-info {
        background-color: map-get($theme-colors, "info");
    }
    .jq-icon-warning {
        background-color: map-get($theme-colors, "warning");
    }
    .jq-icon-error {
        background-color: map-get($theme-colors, "danger");
    }
}